@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

/* Table of contents
1. Global styles
2. Typogtaphy
3. Layout
4. Components
  4.1. Buttons
*/

/* 
  ****************
  1. Global styles
  **************** 
*/

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background: #f7f7f7 url('img/bg-dark.jpg') no-repeat left center/cover;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

/* 
  ****************
  2. Typograthy
  **************** 
*/

h1 {
  letter-spacing: 1px;
  margin-top: 0;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  text-transform: uppercase;
}

.money {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #e56443;
}

/* 
  ****************
  3. Layout
  **************** 
*/

.container {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin: 30px auto;
  padding: 2%;
}

.balance-container {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

/* 
  ****************
  4. Components
  **************** 
*/

/* 4.1. Form elements */

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

/* 4.2. Lists */

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #e56443;
}

/* 4.3. Buttons */

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  margin: 2rem auto 0;
  display: block;
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: 0;
  background-color: #1d7d74;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn:focus {
  outline: 0;
  background-color: #c62828;
}

.list li:hover .delete-btn {
  opacity: 1;
}
